<!-- 
  Created by Malav Mehta,
  For the Colonel By Secondary School Student Council.
 -->

 <!DOCTYPE html>
 <html lang="en">
   <head>
     <meta charset="UTF-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <meta http-equiv="X-UA-Compatible" content="ie=edge" />
 
     <!-- Bootstrap -->
     <link
       rel="stylesheet"
       href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
       integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
       crossorigin="anonymous"
     />
 
     <!-- Stylesheet -->
     <link rel="stylesheet" href="styles/stylesheet.css" />
 
     <title>Colonel By Student Council</title>
   </head>
   <body>
    <div class="loading" id="loading-screen">
      <div class="header-wrapper">
        <h1>Cb StudCo</h1>
      </div>
    </div>
     <nav class="navbar navbar-expand-lg navbar-scrolled" id="navigation-bar">
       <a class="navbar-brand" :href="brand.route">{{brand.name}}</a>
       <button
         class="navbar-toggler"
         id="navbar-toggler"
         type="button"
         data-toggle="collapse"
         data-target="#navbarSupportedContent"
         aria-controls="navbarSupportedContent"
         aria-expanded="false"
         aria-label="Toggle navigation"
         onclick="toggleNavbarButton()"
       >
         Menu
       </button>
 
       <div class="collapse navbar-collapse" id="navbarSupportedContent-false">
         <ul class="navbar-nav m-auto">
           <li v-for="link in links" class="nav-item active">
             <a class="nav-link links" :href="link.route">{{link.name}}</a>
           </li>
         </ul>
 
         <ul class="navbar-nav ml-auto">
           <li v-for="action in actions" class="nav-item active">
             <a class="nav-link actions" :href="action.route">{{action.name}}</a>
           </li>
         </ul>
       </div>
 
       <div class="navbar-phone collapse" id="navbarSupportedContent">
         <a v-for="link in links" class="nav-link" :href="link.route"
           >{{link.name}}</a
         >
         <a v-for="action in actions" class="nav-link" :href="action.route"
           >{{action.name}}</a
         >
       </div>
     </nav>
 
     <div
       class="header-with-image header-without-image"
       id="header"
     >
       <img :src="image" class="header-image" hidden />
       <div class="header-content">
         <div class="header-text">
           <h1>Ask us anything.</h1>
         </div>
       </div>
     </div>
 
     <div class="content-segment container-fluid" id="content-segment1">
       <div class="row">
         <div class="offset-md-1 col-6 col-md-3">
           <p class="subtitle">Nr. 01</p>
         </div>
         <div class="col-6 col-md-3">
           <p class="subtitle">Submit your suggestions</p>
         </div>
         <div class="col-6 col-md-3 d-none d-md-block">
           <p class="subtitle">Colonel By StudCo</p>
         </div>
       </div>
       <div class="row">
         <div class="offset-md-1 col-md-10 col-12">
           <h3 class="article-title" id="form-submitted">
             Send us a message.
           </h3>
           <form>
             <div class="row form-group">
               <div class="col">
                 <input
                   type="text"
                   class="form-input"
                   placeholder="First name"
                   id="first-name"
                 />
               </div>
               <div class="col">
                 <input
                   type="text"
                   class="form-input"
                   placeholder="Last name"
                   id="last-name"
                 />
               </div>
             </div>
 
             <div class="row form-group">
               <div class="col">
                 <input
                   type="text"
                   class="form-input"
                   placeholder="Email"
                   id="email"
                 />
               </div>
               <div class="col">
                 <input
                   type="text"
                   class="form-input"
                   placeholder="Subject"
                   id="subject"
                 />
               </div>
             </div>
 
             <div class="row form-group">
               <div class="col">
                 <textarea
                   class="form-input"
                   id="comment"
                   rows="5"
                   placeholder="Your message"
                 ></textarea>
               </div>
             </div>
           </form>
           <button class="form-submit-button btn" onclick="submitForm()">Send message</button>
         </div>
       </div>
     </div>
 
     <div class="footer container-fluid" id="footer">
       <div class="row">
         <div class="col-12 offset-sm-1 col-sm-5 col-md-3 container-footer">
           <h3 class="footer-heading">Links</h3>
           <div class="links-container">
             <a v-for="link in links" :href="link.route">{{link.name}}</a>
           </div>
         </div>
         <div class="col-12 col-sm-5 col-md-3 container-footer">
           <h3 class="footer-heading">Actions</h3>
           <div class="links-container">
             <a v-for="action in actions" :href="action.route"
               >{{action.name}}</a
             >
           </div>
         </div>
         <div
           class="col-12 offset-sm-1 offset-md-0 col-sm-11 col-md-4 container-footer"
         >
           <h3 class="footer-heading">Regulatory</h3>
           <p class="footer-information">
             Copyright &copy; CBStudCo 2020
           </p>
           <p class="footer-information">
             by Malav Mehta | Source Tree on
             <a class="footer-link" href="malav-mehta-github.io">Github</a>
           </p>
         </div>
       </div>
     </div>
 
     <!-- jQuery -->
     <script
       src="https://code.jquery.com/jquery-3.4.1.min.js"
       integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
       crossorigin="anonymous"
     ></script>
 
     <!-- Popper.js -->
     <script
       src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
       integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
       crossorigin="anonymous"
     ></script>
 
     <!-- Bootstrap.js -->
     <script
       src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
       integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
       crossorigin="anonymous"
     ></script>
 
     <!-- Vue.js FRAMEWORK for the website -->
     <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
 
     <!-- Firebase.js CORE files for Google Firebase SDK -->
     <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-app.js"></script>
 
     <!-- Firebase AUTH and DATABASE are also imported. -->
     <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-auth.js"></script>
     <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-database.js"></script>
 
     <!-- 
       All non-CDN JavaScript files specifically created for this project.
       Each file is divided for oganizational purposes.
     -->
 
     <!-- data.js for storing all the data globally -->
     <script src="scripts/data.js"></script>
 
     <!-- calendar.js for ALL events-related logic from Google APIs -->
     <script src="scripts/calendar.js"></script>
 
     <!-- firebase.js contains ALL functions for controlling the database -->
     <script src="./scripts/firebase.js"></script>
 
     <!-- main.js initializes and creates all HTML elements -->
     <script src="scripts/contact_main.js"></script>
   </body>
 </html>
 