<!-- 
  Created by Malav Mehta,
  For the Colonel By Secondary School Student Council.
 -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <!-- Stylesheet -->
    <link rel="stylesheet" href="styles/stylesheet.css" />

    <title>Colonel By Student Council</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg" id="navigation-bar">
      <a class="navbar-brand" :href="brand.route">{{brand.name}}</a>
      <button
        class="navbar-toggler"
        id="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
        onclick="toggleNavbarButton()"
      >
        Menu
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent-false">
        <ul class="navbar-nav m-auto">
          <li v-for="link in links" class="nav-item active">
            <a class="nav-link links" :href="link.route">{{link.name}}</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          <li v-for="action in actions" class="nav-item active">
            <a class="nav-link actions" :href="action.route">{{action.name}}</a>
          </li>
        </ul>
      </div>

      <div class="navbar-phone collapse" id="navbarSupportedContent">
        <a v-for="link in links" class="nav-link" :href="link.route"
          >{{link.name}}</a
        >
        <a v-for="action in actions" class="nav-link" :href="action.route"
          >{{action.name}}</a
        >
      </div>
    </nav>

    <div class="header-with-image normal-header" id="header">
      <img :src="image" class="header-image" />
      <div class="header-content">
        <div class="header-text">
          <h1>{{title}}</h1>
          <div class="actions-wrapper">
            <a
              v-for="action in actions"
              class="btn"
              :class="action.type"
              :href="action.route"
              >{{action.name}}</a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="content-segment container-fluid" id="content-segment1">
      <div class="row">
        <div class="offset-md-1 col-6 col-md-3">
          <p class="subtitle">{{key}}</p>
        </div>
        <div class="col-6 col-md-3">
          <p class="subtitle">{{header}}</p>
        </div>
        <div class="col-6 col-md-3 d-none d-md-block">
          <p class="subtitle">{{page_title}}</p>
        </div>
      </div>
      <div class="row">
        <div class="offset-md-1 col-2">
          <h3 class="article-title">{{article_title}}</h3>
        </div>
        <div class="offset-md-1 col-md-7 col-12">
          <div v-for="post in posts" class="col-12 col-md-11 post-container">
            <h2 class="main-text">{{post.title}}</h2>
            <div class="post-info">
              <p class="post-date">{{post.date}}</p>
              <p class="post-author">{{post.author}}</p>
            </div>
            <p class="post-content">
              {{post.content}}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="footer container-fluid" id="footer">
      <div class="row">
        <div class="col-12 offset-sm-1 col-sm-5 col-md-3 container-footer">
          <h3 class="footer-heading">Links</h3>
          <div class="links-container">
            <a v-for="link in links" :href="link.route">{{link.name}}</a>
          </div>
        </div>
        <div class="col-12 col-sm-5 col-md-3 container-footer">
          <h3 class="footer-heading">Actions</h3>
          <div class="links-container">
            <a v-for="action in actions" :href="action.route"
              >{{action.name}}</a
            >
          </div>
        </div>
        <div
          class="col-12 offset-sm-1 offset-md-0 col-sm-11 col-md-4 container-footer"
        >
          <h3 class="footer-heading">Regulatory</h3>
          <p class="footer-information">
            Copyright &copy; CBStudCo 2020
          </p>
          <p class="footer-information">
            by Malav Mehta | Source Tree on
            <a class="footer-link" href="malav-mehta-github.io">Github</a>
          </p>
        </div>
      </div>
    </div>

    <!-- jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>

    <!-- Popper.js -->
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>

    <!-- Bootstrap.js -->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>

    <!-- Vue.js FRAMEWORK for the website -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- Firebase.js CORE files for Google Firebase SDK -->
    <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-app.js"></script>

    <!-- Firebase AUTH and DATABASE are also imported. -->
    <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-database.js"></script>

    <!-- 
      All non-CDN JavaScript files specifically created for this project.
      Each file is divided for oganizational purposes.
    -->

    <!-- data.js for storing all the data globally -->
    <script src="scripts/data.js"></script>

    <!-- calendar.js for ALL events-related logic from Google APIs -->
    <script src="scripts/calendar.js"></script>

    <!-- firebase.js contains ALL functions for controlling the database -->
    <script src="./scripts/firebase.js"></script>

    <!-- main.js initializes and creates all HTML elements -->
    <script src="scripts/news_main.js"></script>
  </body>
</html>
