/*
 * FONTS.SCSS
 * This file imports all the required fonts.
 * 
 * Created by Malav Mehta for the Colonel By Secondary School Student Council.
 * Copyright 2020.
 */

// Importing CIRCULAR STD font
@font-face {
  font-family: "Circular";
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/CircularStd-Book.otf") format("opentype");
}

@font-face {
  font-family: "Circular";
  font-weight: 600;
  font-display: swap;
  src: url("../assets/fonts/CircularStd-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Circular";
  font-weight: 700;
  font-display: swap;
  src: url("../assets/fonts/CircularStd-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Circular";
  font-weight: 800;
  font-display: swap;
  src: url("../assets/fonts//CircularStd-Black.otf") format("opentype");
}
