/*
 * STYLES.SCSS
 * This file declares all styling for the project.
 * The file requires the other dependencies to already be imported.
 * 
 * Created by Malav Mehta for the Colonel By Secondary School Student Council.
 * Copyright 2020.
 */

::selection {
  background-color: #0000001a;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

* {
  box-sizing: border-box;
}

body {
  background-color: white;
}

.loading {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  background-color: $black;
  display: flex;
  justify-content: center;
  align-items: center;

  .header-wrapper {
    padding: 2.5rem;
    background-color: $white !important;

    h1 {
      @include font-preset($font-sans, 1.4rem, $bld, $text);
      text-transform: uppercase;
      letter-spacing: 0.055em;
      margin: 0;
    }
  }
}

.navbar-scrolled {
  margin: 0 !important;
  padding: 2em 0 1.5em 0;
  background-color: $white !important;
  @include box-shadow(10, rgba($black, 0.15));

  .navbar-brand {
    color: $text !important;
  }

  .nav-link {
    color: $text !important;

    &:after {
      background-color: #000 !important;
    }
  }
}

.navbar {
  background-color: #00000000;
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding-top: 1.8rem;
  padding: 2em 0 1.5em 0;
  @include transition($fast-speed);

  .navbar-brand {
    @include font-preset($font-sans, 1.2rem, $med, $text-onprimary);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-left: 2rem;
    z-index: 100;
  }

  .nav-link {
    @include font-preset($font-sans, 1.1rem, $reg, $text-onprimary);
    @include transition($fast-speed);
    padding: 0.3em !important;
    position: relative;

    &:active {
      opacity: 0.7;
    }
  }

  .links {
    margin-left: 3.5rem;
  }

  .actions {
    margin-right: 3.5rem;
  }

  .nav-link:after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    width: 0;
    bottom: -0.2em;
    background: #fff;
    height: 0.2rem;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }

  .nav-link:hover:after,
  .nav-link:focus:after,
  .nav-link:active:after {
    left: 0;
    right: auto;
    width: 100%;
  }

  .navbar-toggler {
    z-index: 100;
    margin-right: 2rem !important;
    @include font-preset($font-sans, 1.1rem, $reg, $text-onprimary);
  }

  #contact {
    margin-right: 0rem !important;
  }
}

.navbar-phone {
  z-index: 75;
  height: 100vh;
  width: 100vw;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 2rem;

  .nav-link {
    margin: 0.2rem;
    font-size: 1.6rem;
    padding-bottom: 1.4rem;
  }

  .nav-link:after {
    opacity: 0;
  }
}

.header-without-image {
  height: 70vh !important;
  .header-text {
    h1 {
      margin-top: 10rem;
      color: $text !important;
    }
  }
}

.normal-header {
  background-color: $black !important;
  .header-image {
    filter: opacity(0.4);
  }
}

.header-with-image {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: relative;

  .header-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .header-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  .header-text {
    margin-left: 7.5rem;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    h1 {
      @include font-preset($font-sans, 6.2rem, $bld, $text-onprimary);
      line-height: 1.1;
      max-width: 850px;
    }

    .actions-wrapper {
      padding-top: 1.5rem;
    }

    .btn {
      @include font-preset($font-sans, $large-button, $med, $text-onprimary);
      position: relative;
      text-align: center;
      padding: 0.65em 1.4em;
      border: 0.075em solid $text-onprimary;
      border-radius: 0.5em;
      @include transition($fast-speed);

      &:hover {
        padding: 0.65em 2.75em 0.65em 1.4em;
      }

      &:active {
        opacity: 0.7;
      }
    }

    .btn:after {
      content: " →";
      position: absolute;
      right: 0.7em;
      opacity: 0;
      @include transition($fast-speed);
    }

    .btn:hover:after {
      opacity: 1;
      right: 1em;
    }

    .secondary {
      background-color: rgba($white, 0.125);
      margin-right: 1rem;
    }

    .primary {
      background-color: $white;
      color: $text;
    }
  }

  .header-events {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    background-color: $white;
    padding-left: 7.5rem;
    padding-right: 7.5rem;
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
    overflow-x: auto;

    .upcoming-event {
      padding-right: 9rem;

      &:hover {
        .date-label {
          opacity: 1;
        }
      }

      .numeric-label {
        @include font-preset($font-sans, 1rem, $med, $text);
      }

      .event-title {
        @include font-preset($font-sans, 1.8rem, $med, $text);
        position: relative;
      }

      .date-label {
        @include font-preset($font-sans, 1.3rem, $reg, $text);
        @include transition($fast-speed);
        opacity: 0.6;
      }
    }

    .view-all-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;

      .view-all {
        height: 4rem !important;
        width: 4rem !important;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border-radius: 50%;
        border: 0.2rem solid $black;
        background-color: $black;
        @include transition($fast-speed);

        p {
          @include font-preset($font-sans, 1.2rem, $reg, $text-onprimary);
          margin: 0;
          padding: 0;
        }

        &:hover {
          p {
            color: $text;
          }
          background-color: #00000000;
        }

        &:active {
          opacity: 0.75;
        }
      }

      .view-all-label {
        @include font-preset($font-sans, 1.1rem, $med, $text);
      }
    }
  }
}

.post-container {
  padding: 0;
  margin-bottom: 2rem;
  .post-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .post-date {
    margin-right: 1.5rem;
    @include font-preset($font-sans, 1.15rem, $reg, $text);
    opacity: 0.75;
  }

  .post-author {
    @include font-preset($font-sans, 1.15rem, $reg, $text);
    opacity: 0.75;
  }

  .post-content {
    margin-top: 1rem;
    @include font-preset($font-sans, 1.15rem, $reg, $text);
  }
}

.event-page-title {
  margin-bottom: 0 !important;
}

.content-segment {
  padding-top: 6rem;
  padding-bottom: 6rem;

  .subtitle {
    padding-bottom: 5rem;
    @include font-preset($font-sans, 1rem, $med, $text);
  }

  .article-title {
    @include font-preset($font-sans, 1.9rem, $med, $text);
    margin-bottom: 2.5rem;
  }

  .main-text {
    @include font-preset($font-sans, 2.35rem, $med, $text);
    line-height: 1.5;
  }

  .position-description {
    padding: 0.75rem 0rem;
    @include font-preset($font-sans, 1.15rem, $reg, $text);
    line-height: 1.6;
  }

  .profile-picture {
    width: 180px;
    height: 250px;
    border: 0px solid #00000000;
    background-color: #f1f1f1;
    object-fit: cover;
    @include transition($fast-speed);
    margin-bottom: 1rem;
  }

  .detail-text {
    padding: 1.5rem 0rem 2rem 0rem;
    @include font-preset($font-sans, 1.15rem, $reg, $text);
    opacity: 0.75;
    line-height: 1.6;
  }

  .links-title {
    @include font-preset($font-sans, 0.9rem, $reg, $text);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding-bottom: 2.5rem;
    margin: 0 !important;
  }

  .links-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .related-link {
    padding: 0;
    margin: 0;
    margin-bottom: 1.75rem;
    @include font-preset($font-sans, 1.9rem, $reg, $text);
    @include transition($fast-speed);
    display: block;
    text-decoration: none;
    position: relative;

    &:active {
      opacity: 0.7;
    }
  }

  .related-link:after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    width: 0;
    bottom: 0;
    background: $black;
    height: 0.2rem;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }

  .related-link:hover:after,
  .related-link:focus:after,
  .related-link:active:after {
    left: 0;
    right: auto;
    width: 100%;
  }
}

.position-container {
  position: relative;
  margin-bottom: 2rem;
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  .toggle-position {
    position: static;
  }
}

.toggle-position {
  position: absolute;
  top: 0;
  right: 0;
  height: 3.25rem !important;
  width: 3.25rem !important;
  border-radius: 50%;
  border: 0.2rem solid $black;
  @include font-preset($font-sans, 1.6rem, $reg, $text-onprimary);
  @include transition($fast-speed);
  color: $text;
  background-color: #00000000;

  &:hover {
    color: $text-onprimary;
    background-color: $black;
  }

  &:active {
    opacity: 0.75;
  }
}

.toggle-position-active {
  color: $text-onprimary;
  background-color: $black;

  &:hover {
    color: $text;
    background-color: #00000000;
  }
}

.person-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  .person-name {
    margin-bottom: 0.3rem;
    @include font-preset($font-sans, 1.05rem, $reg, $text);
  }
}

a.email-link {
  @include font-preset($font-sans, 1.05rem, $reg, $text);
  @include transition($fast-speed);
  opacity: 0.6;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
  @include font-preset($font-sans, 1.2rem, $reg, $text);
  @include transition($fast-speed);
  display: block;
  text-decoration: none;
  position: relative;

  &:active {
    opacity: 0.7;
  }
}

a.email-link:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: 0;
  background: $black;
  height: 0.12rem;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

a.email-link:hover:after,
a.email-link:focus:after,
a.email-link:active:after {
  left: 0;
  right: auto;
  width: 100%;
}

.images-container:hover {
  .email-link {
    opacity: 1;
  }
}

.slideshow-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slideshow {
  background-color: $black;
  width: 90vw;
  height: 85vh;

  .slideshow-image {
    width: 90vw;
    height: 85vh;
    object-fit: cover;
    opacity: 0.5;
  }

  .control {
    @include font-preset($font-sans, 1.1rem, $reg, $text-onprimary);
  }
}

.calendar-container {
  height: 80vh;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-segment {
  width: 100vw;
  height: 100vh;
  position: relative;

  .video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  .play-button-wrapper {
    position: absolute;
    padding: 1.5rem;
    border-radius: 50%;
    border: 1px solid $white;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 48.2%;
    @include transition($fast-speed);

    .play-button {
      border-style: solid;
      box-sizing: border-box;
      border-width: 0.6em 0 0.6em 1.2em;
      border-radius: 0.2em;
      border-color: transparent transparent transparent $black;
    }
  }
}

.form-input {
  @include font-preset(
    $font-sans !important,
    1.2rem !important,
    $reg !important,
    $text !important
  );
  padding: 1.1rem 0 !important;
  margin-bottom: 0.5rem !important;
  border: 0;
  border-bottom: 0.185rem solid $black !important;
  border-radius: 0;
  width: 100%;

  &:focus {
    outline: none !important;
    outline-color: $white !important;
  }
}

::placeholder {
  @include font-preset(
    $font-sans !important,
    1.2rem !important,
    $reg !important,
    $text !important
  );
  opacity: 0.4;
}

.form-submit-button {
  @include font-preset($font-sans, 0.9rem, $reg, $text-onprimary);
  padding: 1.2rem 2.6rem;
  margin-top: 1.25rem;
  margin-right: 0.75rem !important;
  background-color: $black;
  @include transition($fast-speed);
  border: 0;

  &:hover {
    color: $text-onprimary;
  }

  &:active {
    opacity: 0.85;
  }
}

.footer {
  padding: 3rem 0;
  .container-footer {
    padding: 3rem 0;
  }

  .footer-heading {
    @include font-preset($font-sans, 1.8rem, $med, $text);
    margin-bottom: 1.4rem;
  }

  .links-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    a {
      padding: 0;
      margin: 0;
      margin-bottom: 1rem;
      @include font-preset($font-sans, 1.2rem, $reg, $text);
      @include transition($fast-speed);
      display: block;
      text-decoration: none;
      position: relative;

      &:active {
        opacity: 0.7;
      }
    }

    a:after {
      content: "";
      position: absolute;
      z-index: -1;
      right: 0;
      width: 0;
      bottom: 0;
      background: $black;
      height: 0.18rem;
      transition-property: width;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
    }

    a:hover:after,
    a:focus:after,
    a:active:after {
      left: 0;
      right: auto;
      width: 100%;
    }
  }

  .footer-information {
    @include font-preset($font-sans, 1.2rem, $reg, $text);
    margin-bottom: 1rem;
    .footer-link {
      @include font-preset($font-sans, 1.2rem, $reg, $text !important);
      text-decoration: underline;
      &:hover {
        color: black !important;
      }

      &:active {
        opacity: 0.75;
      }
    }
  }
}

.input-label {
  @include font-preset($font-sans, 0.95rem, $reg, $text);
  padding: 0;
  margin: 0;
}

.low-padding {
  padding-top: 0.5rem !important;
}

.form-title {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.wireframe {
  position: sticky !important;
  position: -webkit-sticky !important;
  top: 150px;
}

#auth-block {
  margin-top: 0;
  padding-top: 0;
}
