//
// DEFINING FONT VARIABLES
//

// DEFAULT FONTS
$font-sans: "Circular", sans-serif !default;
$font-serif: serif;
$font-mono: monospace;

// DEFAULT FONT WEIGHTS
$reg: 400 !default;
$med: 600 !default;
$bld: 700 !default;
$blk: 800 !default;

// DEFAULT FONT SIZES
$base-size: 1rem !default;
$h1-size: 6.25 * $base-size !default;
$h2-size: 2.25 * $base-size !default;
$h3-size: 1.75 * $base-size !default;
$h4-size: 1.425 * $base-size !default;
$h5-size: 1.3 * $base-size !default;
$h6-size: 1 * $base-size !default;
$body-size: 1 * $base-size !default;
$page-action: 1.1 * $base-size !default;
$nav-brand: 1.3 * $base-size !default;
$nav-link: 1.045 * $base-size !default;
$landing-size: 4.1 * $base-size !default;
$tagline-size: 1.045 * $base-size !default;
$large-button: 1.15 * $base-size !default;
$large-size: 1.2 * $base-size !default;
$small-size: 0.9 * $base-size !default;
$content-title-size: 1.9 * $base-size !default;
$large-text: 2.45 * $base-size !default;
$text-segment: 1.15 * $base-size !default;
$links-title: 0.9 * $base-size !default;
$link-text: 1.7 * $base-size !default;

//
// DEFINING THE COLOR SYSTEM
//

// BASE COLORS
$black: #111111 !default;
$white: #fefefe !default;

$red: #d32f2f !default;
$pink: #c2185b !default;
$purple: #7b1fa2 !default;
$deep-purple: #512da8 !default;
$indigo: #303f9f !default;
$blue: #1976d2 !default;
$light-blue: #0288d1 !default;
$cyan: #0097a7 !default;
$teal: #00796b !default;
$green: #388e3c !default;
$light-green: #689f38 !default;
$lime: #afb42b !default;
$yellow: #fbc02d !default;
$amber: #ffa000 !default;
$orange: #f57c00 !default;
$deep-orange: #e64a19 !default;
$blue-grey: #455a64 !default;

// PRIMARY COLOR
$primary-color: $black !default;

$primary-l1: lighten($primary-color, 2%) !default;
$primary-l2: lighten($primary-color, 4%) !default;
$primary-l3: lighten($primary-color, 6%) !default;
$primary-l4: lighten($primary-color, 8%) !default;

$primary-d1: darken($primary-color, 4%) !default;
$primary-d2: darken($primary-color, 8%) !default;
$primary-d3: darken($primary-color, 12%) !default;

// SECONDARY AND TEXT (SECONDARY COLOR)
$secondary-color: $white !default;

$secondary-l1: lighten($secondary-color, 2%) !default;
$secondary-l2: lighten($secondary-color, 4%) !default;
$secondary-l3: lighten($secondary-color, 6%) !default;
$secondary-l4: lighten($secondary-color, 8%) !default;

$secondary-d1: darken($secondary-color, 4%) !default;
$secondary-d2: darken($secondary-color, 8%) !default;
$secondary-d3: darken($secondary-color, 12%) !default;

$text: $primary-color !default;
$text-lighten: lighten($black, 60%) !default;
$text-onprimary: $white !default;

//
// TRANSITION VARIABLES
//

// TRANSITION SPEEDS
$base-speed: 0.4s !default;
$fast-speed: 0.5 * $base-speed !default;
$slow-speed: 1.5 * $base-speed !default;

// TRANSITION VARIABLES:
$base-opacity: 1;
$opacity-onhover: 0.75 * $base-opacity !default;
$opacity-onactive: 0.5 * $base-opacity !default;
